@model Schulungsportal.Models.Post

@{
    ViewBag.Title = "Link: " + @Model.Title + " löschen";
}

@section ModuleMenu
{
    @Html.Partial("LinksMenu", 0)
}




<h3>Soll der Datensatz wirklich gelöscht werden?</h3>
<div>
    <h4>Participant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uri)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
       
        <a href="@Url.Action("Index", "Links")" class="btn btn-info">Nee lass mal <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <a href="@Url.Action("DeleteConfirmed", "Link", new { id = Model.Id })" class="btn btn-warning">Klar weg damit <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
    }
</div>
