@model Schulungsportal.Models.Participant

@{
    ViewBag.Title = "Teilnehmer " + @Model.Firstname +" " + @Model.Lastname+" löschen";
}

@section ModuleMenu
{
    @Html.Partial("ParticipantsMenu", 0)
}




<h3>Soll der Datensatz wirklich gelöscht werden?</h3>
<div>
    <h4>Participant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
       
        <a href="@Url.Action("Index", "Participants")" class="btn btn-info">Nee lass mal <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <a href="@Url.Action("DeleteConfirmed", "Participants", new { id = Model.Id })" class="btn btn-warning">Klar weg damit <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
    }
</div>
