@model Schulungsportal.ViewModel.ParticipantViewModel

@{
    ViewBag.Title = "Index";
}


<table class="table table-bordered table-condensed table-striped table-hover">

    <tr>
        <th class="visible-lg visible-md">Id</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Email</th>
        <th class="visible-lg visible-md">Webseite</th>
        <th class="visible-lg visible-md">Firma</th>
        <th>Operation</th>
    </tr>

@foreach (var item in Model.Participants) {
    <tr>
        <td class="visible-lg visible-md">
            @item.Id
        </td>
        <td>
            @item.Firstname
        </td>
        <td>
            @item.Lastname
        </td>
        <td>
            <a href="mailto:@item.Email">
                <span class="glyphicon glyphicon-envelope"></span>
            </a></td>
        <td class="visible-lg visible-md">
            <a href="http://@item.Website">
                <span class="glyphicon glyphicon-piggy-bank"></span>
            </a>
        </td>
        <td class="visible-lg visible-md">
            @item.Company
        </td>
         <td>  
             <a href="@Url.Action("Update", "Participants", new { id = item.Id })" class="btn btn-warning">
                 <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
             </a>
             <a href="@Url.Action("Details", "Participants", new  { id=item.Id })" class="btn btn-warning">
                 <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
             </a>
             <a href="@Url.Action("Delete", "Participants", new { id = item.Id })" class="btn btn-warning">
                 <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
             </a>
        </td>
    </tr>
}

</table>
