@model Schulungsportal.ViewModel.ParticipantViewModel
@{
    ViewBag.Title = "Alle Teilnehmer";
}

@section ModuleMenu{
    @Html.Partial("ParticipantsMenu", 0)
}

<table class="table table-striped table-bordered table-condensed">

    <tr>
        <th class="visible-lg visible-md">Id</th>
        <th class="hidden-xs">Vorname</th>
        <th class="hidden-xs">Nachname</th>
        <th class="visible-xs">
            Name
        </th>
        <th>Kontakt</th>
        <th class="visible-lg visible-md">Firma</th>
        <th>
            <span class="hidden-xs">Optionen</span>
            <span class="visible-xs">Opt.</span>
        </th>
    </tr>

    @foreach (var p in Model.Participants)
    {
        <tr>
            <td class="visible-lg visible-md">@p.Id</td>
            <td class="hidden-xs">@p.Firstname</td>
            <td class="hidden-xs">@p.Lastname</td>
            <td class="visible-xs">@p.Firstname @p.Lastname</td>
            <td>
                <a href="mailto: @p.Email">
                    <span class="glyphicon glyphicon-envelope"></span>
                </a>
                <a href="@p.Website" target="_blank">
                    <span class="glyphicon glyphicon-link"></span>
                </a>
            </td>
            <td class="visible-lg visible-md">@p.Company</td>
            <td>
                <a href="@Url.Action("Update", "Participants", new {id = p.Id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="@Url.Action("Delete", "Participants", new {id = p.Id})">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    }

</table>

@Html.Partial("Pagination", Model.Pagination)